# Ignore build files and IDE/project files
build/
Build/
CMakeBuild*/ 
cmake-build*/
*.DS_Store
*.user
*.VC.db
*.vcxproj*
*.sln
*.idea/
.vscode/
# Ignore JUCE-related build files
JUCE/extras/AudioPluginHost/Builds/